@layer reset, base, tokens, recipes, utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}
